.wrapper {
  display: flex;
  gap: 20px;
}
.change-link-box {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
}
.change-link-box {
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}
.divider {
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.1);
}
.text-active {
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}
.text {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  cursor: pointer;
}
