#header {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  width: 800px;
  justify-content: space-between;
  align-items: center;
}

.header-left-box {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.header-logo {
  font-family: GimhaeGaya;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;
}

.header-right-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-search-input-box {
  border: 1px solid black;
  border-radius: 43px;
  padding: 0 10px 0 12px;
  width: 223px;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-search-input {
  flex: 1;
  border: none;
  background: none;
  outline: none;

  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.black-button {
  border-radius: 46px;
  width: 95px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  cursor: pointer;
}

.black-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.disable-button {
  border-radius: 46px;
  width: 95px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  cursor: not-allowed;
}

.white-button {
  border: 1px solid black;
  border-radius: 46px;
  width: 95px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  cursor: pointer;
}

.white-button:hover {
  background-color: rgba(1, 1, 1, 7);
  color: white;
}
